.logo {
    svg {
        @apply !w-full !h-full;

        & path {
            transition: fill 0.2s ease-out;
        }

         path:first-child {
            @apply fill-white;
        }

         path:last-child {
            @apply fill-accent-active;
        }
    }

    &:active, &:hover {
        svg {
            path:first-child {
                @apply fill-accent;
            }
        }
    }
}