@import url('variables.css');

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    html, body {
        height: 100vh;
        width: 100vw;
        margin: 0;
        padding: 0;
        overflow: hidden;
        font-size: 18px;
        
        img {
            height: 100%;
            width: 100%;
        }
        
        @apply font-golos;
    
        * {
            font-size: inherit;
            text-wrap: balance;
            color: hsl(var(--foreground));
            scroll-behavior: smooth !important;
        }
    
        main, section, article {
            scroll-margin-block-start: 2rem;
        }
    }
    
    
    svg {
        path {
            color: inherit;
        }
    }
    
    h1, h2, h3, h4, h5, h6 {
        font-weight: 600;
        margin: 0;
        
        @apply text-title;
    }
    
    h1 {
        @apply text-3xl mb-2;
    }
    
    h2 {
        @apply text-lg;
    }
    
    h3, h4, h5, h6 {
        @apply text-base;
    }
    
    * {
        @apply border-border box-border;
    }

    body {
        @apply bg-background text-foreground;
    }

    ul {
        li {
            list-style-type: none;
        }
    }
    
    section, div, span {
        font-size: inherit;
    }
    

    input[type=number]::-webkit-inner-spin-button, 
    input[type=number]::-webkit-outer-spin-button { 
        -webkit-appearance: none; 
    }

    input[type=number] {
        -moz-appearance: textfield;
    }

    ::-webkit-scrollbar {
       @apply w-2 h-2 rounded-sm bg-transparent;
    }
      
    ::-webkit-scrollbar-track {
        @apply bg-transparent;
    }

    ::-webkit-scrollbar-thumb {
        @apply bg-scrollbar rounded-sm;
    }

    :hover::-webkit-scrollbar-thumb {
        @apply bg-scrollbar;
    }
    
    @media screen(xs) {
        html {
            font-size: 22px;
        }
    }

    @media screen(sm) {
        html {
            font-size: 18px;
        }
    }


    @media screen(md) {
        ::-webkit-scrollbar-thumb {
            @apply bg-transparent;
        }
    }


    @media screen(lg) {
        html {
            font-size: 18px;
        }
    }

    @media screen(xl) {
        html {
            font-size: 20px;
        }
    } 

    @media screen(2xl) {
        html {
            font-size: 24px;
        }
    }

    @media screen(3xl) {
        html {
            font-size: 30px;
        }
    }
}

@layer utilities {
    .gutter-stable {
        scrollbar-gutter: stable;
    }
    
    .read-only {
        @apply pointer-events-none opacity-50 select-none;
    }
}