:root {
    /* Размеры */
    --header-height: 6rem;
    --navbar-width: 13rem;
    --top-bar-height: 3.5rem;

    /* Z-Index */
    --top-bar-z-index: 10;
    --navbar-z-index: 20;
    --backdrop-z-index: 15;

    /* Шрифты */
    --montserrat-font: var(--montserrat-font);
    --rubik-font: var(--rubik-font);
    --roboto-font: var(--roboto-font);

    /* Отступы */
    --page-padding-top: 2rem;
    --page-padding-bottom: 1rem;
    --page-padding-left: 1rem;
    --page-padding-right: 1rem;
    --page-paddings-x: var(--page-padding-left) var(--page-padding-right);
    --page-paddings-y: var(--page-padding-top) var(--page-padding-bottom);
    --page-paddings: var(--page-padding-top) var(--page-padding-bottom) var(--page-padding-left) var(--page-padding-right);

    /* Цвета */
    --purple-color: #8b00ff;
    --purple-dark-color: #9d6cff;
    --purple-light-color: #B39DDB;
    --gold-color: #fdbe00;
    --gold-light-color: #FFF59D;
    --orange-color-default: #F90;
    --gray-color: #989898;
    --gray-light-color: #D3D3D3;
    --gray-dark-color: #4c4c4c;
    --warning-red-color: #C30;

    /* Размеры шрифтов */
    --font-size-xss: 0.5rem;
    --font-size-xs: 0.75rem;
    --font-size-sm: 0.875rem;
    --font-size-base: 1rem;
    --font-size-lg: 1.125rem;
    --font-size-xl: 1.25rem;
    --font-size-2xl: 1.375rem;
    --font-size-3xl: 1.5rem;

    
}

@layer base {
    :root {
        --background: 0 0% 100%;
        --foreground: 224 71.4% 4.1%;
        --card: 0 0% 100%;
        --card-foreground: 224 71.4% 4.1%;
        --popover: 0 0% 100%;
        --popover-foreground: 224 71.4% 4.1%;
        --primary: 220.9 39.3% 11%;
        --primary-foreground: 210 20% 98%;
        --secondary: 220 14.3% 95.9%;
        --secondary-foreground: 220.9 39.3% 11%;
        --muted: 220 14.3% 95.9%;
        --muted-foreground: 220 8.9% 46.1%;
        --accent: 220 14.3% 95.9%;
        --accent-foreground: 220.9 39.3% 11%;
        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 210 20% 98%;
        --border: 220 13% 91%;
        --input: 220 13% 91%;
        --ring: 224 71.4% 4.1%;
        --radius: 0.5rem;
    }

    .dark {
        --background: 224 71.4% 4.1%;
        --foreground: 210 20% 98%;
        --card: 224 71.4% 4.1%;
        --card-foreground: 210 20% 98%;
        --popover: 224 71.4% 4.1%;
        --popover-foreground: 210 20% 98%;
        --primary: 210 20% 98%;
        --primary-foreground: 220.9 39.3% 11%;
        --secondary: 215 27.9% 16.9%;
        --secondary-foreground: 210 20% 98%;
        --muted: 215 27.9% 16.9%;
        --muted-foreground: 217.9 10.6% 64.9%;
        --accent: 215 27.9% 16.9%;
        --accent-foreground: 210 20% 98%;
        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 210 20% 98%;
        --border: 215 27.9% 16.9%;
        --input: 215 27.9% 16.9%;
        --ring: 216 12.2% 83.9%;
    }
}
