.appButton {
    cursor: pointer !important;
    position: relative;
    transition-property: background, opacity;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
    overflow: hidden;
    user-select: none;
    padding: 0.25rem 1rem;
    font-family: var(--roboto-font);
    white-space: nowrap;
    display: flex;
    align-items: center !important;
    justify-content: center !important;
    gap: 0.25rem;
    border: none;
    font-size: inherit;
    pointer-events: all !important;
    min-height: 2.2em;
    
    &:focus{
        outline-offset: 2px;
    }

    &:active {
        outline: none;
    }

    & svg, .content > svg {
        display: block;
        transition-property: fill, stroke, color;
        transition-duration: inherit;
        transition-timing-function: inherit;
        color: inherit;

        * {
            color: inherit;
            fill: inherit;
            stroke: inherit;
        }
    }

    .content {
        height: 100%;
        font-size: inherit;
        display: flex;
        align-items: center;
        gap: 0.5em;
        transition-property: color;
        transition-duration: inherit;
        transition-timing-function: inherit;
        white-space: nowrap;
        color: currentColor;
    }

    &.background {
        @apply border-solid border border-border rounded-sm text-primary-foreground bg-primary;

        &:active,
        &.active{
            @apply text-primary bg-primary-foreground outline-none;
        }

        &:disabled {
            border: none !important
        }
    }

    &.filled {
        @apply border-solid border border-border rounded-sm text-primary bg-primary-foreground;

        &:active,
        &.active {
            @apply text-primary bg-primary-foreground;
        }
    }

    &.transparent {
        @apply bg-transparent px-2 py-0 text-primary-foreground;

        &:active,
        &.active {
            @apply text-primary-foreground;
        }
    }

    &:disabled {
        pointer-events: none !important;
        opacity: 0.5;
    }

    &.destructive { 
        @apply bg-destructive rounded-sm text-destructive-foreground;
  
        &:active,
        &:focus,
        &.active {    
            @apply opacity-60;
        }
    }

    &.icon {
        @apply p-0 w-fit h-fit;
    }
}



@media screen and (hover: hover) {
    .appButton.transparent:hover {
        @apply text-primary-foreground;
    }
    
    .appButton.outlined:hover {
        @apply border-accent;
    }


    .appButton.filled:hover {
        @apply text-primary bg-primary-foreground;
    }

    .appButton.background:hover {
        @apply text-primary bg-primary-foreground;
    }

    .appButton.destructive:hover {
        @apply opacity-60;
    }
}